.content-container-center {
    padding: 2rem;
    height: auto;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
    box-shadow: 1px 1px 5px gray;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
table, th, td{
    padding: 5px;
    border: 1px solid black;
}

.content-container-center img {
    /* max-width: 100px; */
    max-height: 250px;
}