header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: blue;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circles {
    position: absolute;
    right: 15px;
    top: 15px;
}

.main-header {
    background-color: #707070;
    box-shadow: 0px 2px 5px gray;
}

#circle-light {
    background-color: #1CBC9D;
}
#circle-dark {
    background-color: #E94B3E;
}

/* hover */
.circle:hover {
    cursor: pointer;
}
