header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: blue;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 15px;
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    border-radius: 50%;
}

.light-dark {
    font-size: 2rem;
    border: 1px solid #707070;
}

.main-header {
    background-color: #707070;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* #circle-light {
    background-color: #1CBC9D;
}
#circle-dark {
    background-color: #E94B3E;
} */

/* hover */
.circles:hover {
    cursor: pointer;
}
