
body {
    background-color: #f6f4f4;
}

/* header */
header {
    position: fixed;
    background-color: #35495E;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin: 10px;
    margin-left: 2rem;
    float: left;
}

/* Fonte */
* {
    font-family: Arial, Helvetica, sans-serif;
 }

/* container principal - raiz */
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


    border: solid 1px #515151;
    position:absolute;
	top: 55%;
	left: 50%;
	width: 95%;
    height: 80%;
    transform: translate(-50%, -50%);
    filter: alpha(opacity=65);
    background-color: white;
}

.div_left {
    border: solid #515151 1px;
    width: 50%;
    height: 100%;
    /* background-color: chocolate; */
}

.div_right {
    /* background-color: chartreuse; */
    border: solid #515151 1px;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.right_bottom {
    margin-top: 15px;
}

.label_and_select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.div_t {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.div_b {
    margin-top: 18px;
    width: 100%;
}

.label_and_result {
    display: flex;
    flex-direction: column;
}

/* passo a passo */
.step-scroll {
    width: 98%;
    height: 18rem;
    margin-left: 10px;
    margin-top: 10px;
    overflow: auto;
}

.step-scroll p {
    margin-left: 10px;
}

label {
    margin-left: 10px;
}

select {
    border-radius: 4px;
    /* width: 50%; */
    border: 1px solid #707070;
    margin: 10px;
    padding: .5rem;
    font-size: 1em
}


input, #label-result-value{
    border-radius: 4px;
    /* width: 50%; */
    border: 1px solid #707070;
    margin: 10px;
    padding: .5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em
}

/* ============== eventos - efeitos - clicks ============== */
.avatar:hover {
    cursor: pointer;
}
select:hover {
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
}

/* responsividade */
@media only screen and (max-device-width: 945px){
    .label_and_select {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        margin-top: 10px;
    }
    .div_b {
        margin-top: 0px;
    }
}
@media only screen and (max-device-width: 500px){
    .content-container {
        display: block;
        
        border: none;
        /* overflow: scroll; */
    }

    iframe {
        align-self: center;
        width: 100%;
        height: 60%;
        background-color: black
    }
    
    .div_left {
        display: flex;
        justify-content: start;
        align-items: flex-end;
        border: none;
    }

    header {
        position: absolute;
        background-color: black;
    }

    select {
        margin-top: 0px;
        width: 95%;
    }
    
    input, #label-result-value{
        margin: 10px;
        padding: .5rem;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1em
    }
    .div_right {
        width: 100%;
    }
    .div_left {
        width: 100%;
    }

    .div_t {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .div_b {
        margin-top: 18px;
        width: 100%;
    }
}