
/* para animacao */
#bar {
  position: absolute;
  top: 50%;
  left: 25%;
  background-color: white;
  width: 0%;
  height: 2px;
}

.container-bar-progress {
  position: absolute;
  background-color: #323232;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress {
  position: absolute;
  background-color: #323232;
  top: 0px;
  /* left: 50px; */
  width: 100%;
  height: 100%;
}

#percert {
  position: absolute;
  top: 45%;
  left: 48%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
}