
.content-center {
  width: 100%;
  max-width: 300px;

  /* centralizando */
  margin: auto;
  margin-top: 10%;
}

.content-center input {
  width: 100%;
  padding: 10px, 5px;
  outline: none;
}

section {
  padding: 10px;
  /* border-style: solid; deixa a bordar liza, podemos testar outros */
  border: 1px solid #DEE2E6;
  border-color: #CCC; /*uma corzinha*/
}

.content-center img {
  width: 70%;
}

.text-center {
  text-align: center
}

#form-login {
  text-align: center
}